.chat-user {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
}

.chat-user-confirm-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.chat-user-edit-button {
    margin-left: 16px;
    display: none;
}

.chat-user:hover .chat-user-edit-button {
    display: block;
}

.chat-user-icon {
    margin-right: 8px;
}

::ng-deep .chat-user .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
}

::ng-deep .chat-user .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .chat-user .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .chat-user .mat-form-field-wrapper {
    padding-bottom: 0;
}

::ng-deep .chat-user .mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 5px;
    background-color: lighten(#673ab7, 5);
}
