<div class="chat-user">
    <ng-container *ngIf="(user$ | async) && !isEdit">

        <mat-icon class="chat-user-icon">person_outline</mat-icon>

        <span>{{ user$ | async }}</span>

        <button mat-icon-button
                class="chat-user-edit-button"
                (click)="editUser()">
            <mat-icon>edit</mat-icon>
        </button>

    </ng-container>

    <ng-container *ngIf="!(user$ | async) || isEdit">

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput
                   [formControl]="userControl">
        </mat-form-field>

        <button mat-mini-fab
                class="chat-user-confirm-button"
                [disabled]="userControl.invalid"
                (click)="setUser()">
            <mat-icon>done</mat-icon>
        </button>

    </ng-container>
</div>