@inherits LayoutComponentBase

<MudThemeProvider Theme="CustomTheme" />

<div class="chat">

    <Nav />

    <div class="chat-content">
        @Body
    </div>

</div>


@code {
    readonly MudTheme CustomTheme = new()
    {
        Palette = new Palette
        {
            Primary = Colors.DeepPurple.Default,
            Secondary = Colors.Amber.Accent2
        }
    };
}
