.chat {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &-content {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        background-color: #eeeeee;
        height: 100%;
    }
}