@if (Message != null)
{
    <div class="chat-message @(IsOwn ? "chat-message-is-own": "")">

    @if (!IsOwn && ShowUser)
        {
            <div class="chat-message-user">
                @Message.User
            </div>
        }

        <div class="chat-message-main">
            <div class="chat-message-main-body">
                @Message.Body
            </div>
            <div class="chat-message-main-created">
                @Message.Created.ToString("dd.MM.yy HH:mm")
            </div>
        </div>

    </div>
}