.chat-message{color:black;padding-top:4px}.chat-message-user{font-size:13px;color:gray;margin:8px 0 4px 2px}.chat-message-main{display:flex;align-items:center}.chat-message-main-body{padding:8px 12px;background-color:#eeeeee;border-radius:15px;border-radius:15px}.chat-message-main-created{padding:0 8px;color:gray;font-size:12px;display:none}.chat-message-main:hover .chat-message-main-created{display:block}.chat-message-is-own>.chat-message-main{flex-direction:row-reverse}.chat-message-is-own .chat-message-main-body{background-color:rgba(103,58,183,0.33)}
