.chat-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: calc(100% - 2 * 8px);
    padding: 0 8px;

    font-size: 20px;
    font-weight: 500;
    line-height: 32px;

    &-left {    
        display: flex;
        align-items: center;
    }

    ::deep &-logo {
        margin-right: 8px;
    }
}