<MudAppBar Color="Color.Primary"
           Fixed="false"
           Elevation="0">

    <div class="chat-nav">
        <div class="chat-nav-left">
            <MudIcon Icon="@Icons.Material.Filled.Chat"
                     class="chat-nav-logo" />

            Chat Blazor
        </div>

        <User />
    </div>

</MudAppBar>