.chat-nav{display:flex;justify-content:space-between;align-items:center;width:calc(100% - 2 * 8px);padding:0 8px;font-size:20px;font-weight:500;line-height:32px}.chat-nav-left{display:flex;align-items:center}::deep .chat-nav-logo{margin-right:8px}
