.chat-user {
    font-size: 16px;
    display: flex;
    align-items: center;

    ::deep &-edit-button {
        color: white;
        margin-left: 8px;
        display: none;
    }

    ::deep &-icon {
        margin-right: 8px;
    }

    &:hover ::deep &-edit-button {
        display: block;
    }

    ::deep .mud-input-control {
        margin-top: 0;
    }

    ::deep .mud-input-root {
        padding: 14px 14px 6px 14px;
        color: white;
        background-color: #7446c4;
        border-radius: 3px;
    }

    ::deep .mud-input-outlined-border {
        border-color: transparent;
    }

    ::deep .mud-input-label {
        background-color: transparent;
        color: white !important;
        padding: 0 !important;
    }

    ::deep &-done-button {
        color: black;
        margin-left: 8px;
    }
}
