<div>
    @if (UserName != null && !IsEditing)
    {
        <div class="chat-user">
            <MudIcon Icon="@Icons.Material.Filled.PersonOutline"
                 class="chat-user-icon" />

            @UserName

            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                       Size="Size.Medium"
                       class="chat-user-edit-button"
                       @onclick="OnEditButtonClick" />
        </div>
    }
    else if (UserName == null || IsEditing)
    {
        <div class="chat-user">
            <MudTextField @bind-Value="UserName"
                      Variant="Variant.Outlined"
                      Label="Username" />

            <MudFab Color="Color.Secondary"
                Icon="@Icons.Material.Filled.Done"
                Size="Size.Small"
                IconSize="Size.Medium"
                class="chat-user-done-button"
                @onclick="OnEditDoneButtonClick" />
        </div>
    }
</div>