@page "/"

@using Microsoft.Extensions.Configuration
@inject IConfiguration Config

<div class="chat-wrapper">

    <div class="chat-card mud-elevation-1">

        <div class="chat-messages-wrapper"
             id="messagesRef">

            <div class="chat-messages">

                @{
                    int index = 0;
                }
                @foreach (var message in Messages)
                {
                    <MessageView Message="message"
                             IsOwn="message.User == UserName"
                             ShowUser="index > 0 && (message.User != Messages[index - 1].User)" />

                    index++;
                }

                <div class="chat-messages-bottom"
                     id="messagesBottomRef">
                </div>
            </div>

        </div>

        <div class="chat-message-input-wrapper">

            <MudTextField @bind-Value="NewMessage"
                          Label="Message"
                          Variant="Variant.Outlined"
                          Lines="1"
                          Immediate="true"
                          class="chat-message-field"
                          @onkeyup="HandleKeyUp" />

            <MudFab Color="Color.Secondary"
                    Icon="@Icons.Material.Filled.Send"
                    Size="Size.Small"
                    IconSize="Size.Medium"
                    class="chat-message-send-button"
                    Disabled="NewMessage.Length <= 0"
                    @onclick="OnMessageSend" />

        </div>

    </div>

</div>