﻿@using ChatApplication.Blazor.Services
@using Microsoft.Extensions.Configuration

@inject ChatHubService ChatHubService
@inject IConfiguration Config

<Router AppAssembly="@typeof(Program).Assembly"
        PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ChatHubService.Initialize(Config);
    }
}
