<div class="chat-wrapper">

    <div class="chat-card mat-elevation-z2">

        <div class="chat-messages-wrapper"
             #messagesRef>

            <div class="chat-messages">
                <app-message *ngFor="let message of messages; let i = index"
                             [isOwn]="(chatHubService.user$ | async) === message.user"
                             [showUser]="messages[i - 1] && (message.user !== messages[i - 1].user)"
                             [message]="message">
                </app-message>
                <div class="chat-messages-bottom"
                     #messagesBottomRef>
                </div>
            </div>

        </div>

        <div>
            <mat-form-field appearance="outline"
                            class="chat-message-field">
                <mat-label>Message</mat-label>
                <textarea matInput
                          mat-autosize="true"
                          matAutosizeMinRows="1"
                          matAutosizeMaxRows="3"
                          [formControl]="messageControl"
                          (keyup.enter)="sendMessage()"></textarea>
                <div matSuffix
                     class="chat-send-button-wrapper">
                    <button mat-mini-fab
                            [disabled]="!messageControl.value"
                            (click)="sendMessage()">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </mat-form-field>
        </div>

    </div>

</div>