.chat {

    &-wrapper {
        height: calc(100% - 2 * 32px);
        overflow: hidden;
        display: flex;
        align-items: stretch;
        padding: 32px 0;
    }

    &-card {
        width: 1000px;
        max-width: 95vw;
        background-color: #fafafa;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    &-message-field {
        width: calc(100% - 2 * 16px);
        margin: 16px;

        textarea {
            resize: none;
        }
    }

    &-messages {
        flex-grow: 1;
        flex-shrink: 1;

        display: flex;
        flex-direction: column;
        padding: 16px 16px 0 16px;

        position: relative;


        &-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
    
            position: relative;
        }

        &-bottom {
            position: absolute;
            bottom: 0;
            height: 1px;
        }
    }

    &-send-button-wrapper {
        padding: 0 0 8px 8px;
        
        button {
            margin-bottom: 4px;
        }
    }
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}