<mat-toolbar color="primary"
             class="chat-nav">

    <div class="chat-nav-left">
        <mat-icon>chat</mat-icon>
        Chat Angular
    </div>

    <app-user></app-user>

</mat-toolbar>