.chat-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;

    &-left {
        display: inline-flex;
        align-items: center;

        mat-icon {
            margin-right: 8px;
        }
    }
}