.chat {
    &-message {
        padding-top: 4px;

        &-user {
            font-size: 13px;
            color: gray;
            margin: 8px 0 4px 2px;
        }
        
        &-main {
            display: flex;
            align-items: center;
            
            &-body {
                padding: 8px 12px;
                background-color: #eeeeee;
                border-radius: 15px;
                border-radius: 15px;
            }
    
            &-created {
                padding: 0 8px;
                color: gray;
                font-size: 12px;
                display: none;
            }
    
            &:hover &-created {
                display: block;
            }
        }

        &-is-own {

            & > .chat-message-main {
                flex-direction: row-reverse;
            }

            & .chat-message-main-body {
                background-color: rgba(#673ab7, 0.33);
            }
        }
    }
}