<div *ngIf="message"
     class="chat-message"
     [class.chat-message-is-own]="isOwn">
    <div class="chat-message-user"
         *ngIf="!isOwn && showUser">
        {{ message.user }}
    </div>

    <div class="chat-message-main">
        <div class="chat-message-main-body">
            {{ message.body }}
        </div>
        <div class="chat-message-main-created">
            {{ message.created | date:'short':undefined:'de-AT' }}
        </div>
    </div>
</div>